# Project specific
/node_modules/
/public/
/logs/
/coverage/
/benchmarks/results/
Dockerfile*
docker-compose*
.dockerignore
.git
.gitignore

# Other
*.log
.DS_Store
*.sublime-project
*.sublime-workspace
.idea
*.iml
.vscode
*.swp
*.swo
*~
*.pyc
